body {
    margin: 0;
    padding: 2em;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    padding-right: 0.5em;
}

#main, footer {
    margin-top: 2em;
}

ul.no-bullet {
    list-style: none;
}

ul.no-indent {
    padding: 0;
}
