body {
    margin: 0;
    padding: 2em;
    font-family: sans-serif;
}

ul.main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.main-nav li {
    display: inline-block;
    margin-right: 0.5em;
}

ul.main-nav li:last-of-type {
    margin-right: 0;
}

a {
    color: blue;
    text-underline-position: under;
}

p {
    line-height: 1.5;
}

hr.layout {
    margin: 2em 0;
    border: none;
	border-top: 1pt solid lightgray;
}

ul.no-bullet {
    list-style: none;
}

ul.no-indent {
    padding: 0;
}
